    ul.rig {
    	list-style: none;
    	font-size: 0px;
    	margin-left: -2.5%; /* should match li left margin */
    }
    ul.rig li {
    	display: inline-block;
    	padding: 10px;
    	margin: 0 0 2.5% 2.5%;
    	background: #fff;
    	border: 1px solid #ddd;
    	font-size: 16px;
    	font-size: 1rem;
    	text-align: center;
    	vertical-align: top;
    	box-shadow: 0 0 5px #ddd;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    }
    ul.rig li img {
    	max-width: 100%;
    	height: auto;
    	margin: 0 0 10px;
    }
    ul.rig li h3 {
    	margin: 0 0 5px;
    }
    ul.rig li p {
    	font-size: 1.2em;
    	line-height: 1.5em;
    	color: red;
    }
    /* ajout pour une colonne */
    ul.rig.column-1 li {
    	width: 97.5%;
    }
    /* class for 2 columns */
    ul.rig.columns-2 li {
    	width: 47.5%; /* this value + 2.5 should = 50% */
    }
    /* class for 3 columns */
    ul.rig.columns-3 li {
    	width: 30.83%; /* this value + 2.5 should = 33% */
    }
    /* class for 4 columns */
    ul.rig.columns-4 li {
    	width: 22.5%; /* this value + 2.5 should = 25% */
    }
    /* class for 5 columns */
    ul.rig.columns-5 li {
    	width: 17.5%; /* this value + 2.5 should = 20% */
    }
    /* class for 6 columns */
    ul.rig.columns-6 li {
    	width: 14.16%; /* this value + 2.5 should = 16.66% */
    }
    /* class for 7 columns */
    ul.rig.columns-7 li {
    	width: 11.78%; /* this value + 2.5 should = 14.28% */
    }
    /* class for 8 columns */
    ul.rig.columns-8 li {
    	width: 10%; /* this value + 2.5 should = 12.5% */
    }
     
